<% content_for :title, @book.title %>
<article class="book">
  <header>
    <h2><%= @book.title %></h2>
  </header>
  <p><label>Author:</label> <%= @book.author.name %></p>

  <p><label>Abstract:</label> <%= @book.abstract %></p>

  <p><label>Pages:</label> <%= number_with_delimiter(@book.pages) %></p>

  <p><label>Price:</label> <%= number_to_currency(@book.price) %></p>

  <p><label>ISBN:</label> <%= @book.isbn %></p>

  <p><label>Genre:</label> <%= @book.genre %></p>

  <p><label>Image Cover URL:</label> <%= @book.image_cover_url %></p>

  <p><label>Published On:</label> <%= @book.published_on %></p>

  <p><label>Total In Library:</label> <%= @book.total_in_library %></p>

</article>

<%= link_to 'Edit This Book', edit_book_path(@book) %>
|
<%= link_to 'View All Books', books_path %>

<%= button_to 'Delete This Book', @book,
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this sweet book?' } %>